# CODEOWNERS
# See: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default: everything in the repo
* @konflux-ci/infrastructure
